{<<"links">>,
 [{<<"Changelog">>,
   <<"https://github.com/elixir-cldr/cldr/blob/v2.41.0-rc.0/CHANGELOG.md">>},
  {<<"GitHub">>,<<"https://github.com/elixir-cldr/cldr">>},
  {<<"Readme">>,
   <<"https://github.com/elixir-cldr/cldr/blob/v2.41.0-rc.0/README.md">>}]}.
{<<"name">>,<<"ex_cldr">>}.
{<<"version">>,<<"2.41.0-rc.0">>}.
{<<"description">>,
 <<"Common Locale Data Repository (CLDR) functions for Elixir to localize and format numbers,\ndates, lists, messages, languages, territories and units with support for over 700 locales\nfor internationalized (i18n) and localized (L10N) applications.">>}.
{<<"elixir">>,<<"~> 1.12">>}.
{<<"app">>,<<"ex_cldr">>}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"files">>,
 [<<"lib">>,<<"lib/cldr.ex">>,<<"lib/cldr">>,<<"lib/cldr/locale">>,
  <<"lib/cldr/locale/cache.ex">>,<<"lib/cldr/locale/loader.ex">>,
  <<"lib/cldr/plural_rules">>,<<"lib/cldr/plural_rules/compiler.ex">>,
  <<"lib/cldr/plural_rules/plural_rule.ex">>,
  <<"lib/cldr/plural_rules/transformer.ex">>,<<"lib/cldr/type.ex">>,
  <<"lib/cldr/config">>,<<"lib/cldr/config/config.ex">>,
  <<"lib/cldr/config/dependents.ex">>,<<"lib/cldr/config/rbnf_config.ex">>,
  <<"lib/cldr/exception.ex">>,<<"lib/cldr/validity.ex">>,
  <<"lib/cldr/backend">>,<<"lib/cldr/backend/cldr_backend.ex">>,
  <<"lib/cldr/backend/compiler.ex">>,
  <<"lib/cldr/backend/accept_language.ex">>,<<"lib/cldr/backend/locale.ex">>,
  <<"lib/cldr/protocol">>,<<"lib/cldr/protocol/display_name.ex">>,
  <<"lib/cldr/protocol/language_tag_chars.ex">>,
  <<"lib/cldr/protocol/cldr_chars.ex">>,<<"lib/cldr/install.ex">>,
  <<"lib/cldr/timezone.ex">>,<<"lib/cldr/validity">>,
  <<"lib/cldr/validity/territory.ex">>,<<"lib/cldr/validity/units.ex">>,
  <<"lib/cldr/validity/u.ex">>,<<"lib/cldr/validity/script.ex">>,
  <<"lib/cldr/validity/variant.ex">>,<<"lib/cldr/validity/t.ex">>,
  <<"lib/cldr/validity/subdivision.ex">>,<<"lib/cldr/validity/language.ex">>,
  <<"lib/cldr/gettext">>,<<"lib/cldr/gettext/plural.ex">>,
  <<"lib/cldr/accept_language.ex">>,<<"lib/cldr/substitution.ex">>,
  <<"lib/cldr/language_tag">>,<<"lib/cldr/language_tag/rfc5646">>,
  <<"lib/cldr/language_tag/rfc5646/rfc5646_grammar.ex">>,
  <<"lib/cldr/language_tag/rfc5646/rfc5646_core.ex">>,
  <<"lib/cldr/language_tag/rfc5646/rfc5646_helpers.ex">>,
  <<"lib/cldr/language_tag/exception.ex">>,
  <<"lib/cldr/language_tag/extensions">>,
  <<"lib/cldr/language_tag/extensions/u.ex">>,
  <<"lib/cldr/language_tag/extensions/t.ex">>,
  <<"lib/cldr/language_tag/rfc5646_parser.ex">>,
  <<"lib/cldr/language_tag/sigil.ex">>,<<"lib/cldr/language_tag/parser.ex">>,
  <<"lib/cldr/language_tag/rfc5646_parser.ex.exs">>,
  <<"lib/cldr/language_tag.ex">>,<<"lib/cldr/kino">>,
  <<"lib/cldr/kino/data_table.ex">>,<<"lib/cldr/locale.ex">>,
  <<"src/plural_rules_lexer.xrl">>,<<"src/plural_rules_parser.yrl">>,
  <<"config">>,<<"config/dev.exs">>,<<"config/config.exs">>,
  <<"config/prod.exs">>,<<"config/test.exs">>,<<"config/release.exs">>,
  <<"mix.exs">>,<<"README.md">>,<<"CHANGELOG.md">>,<<"LICENSE.md">>,
  <<"priv/cldr/locales/en.json">>,<<"priv/cldr/locales/en-001.json">>,
  <<"priv/cldr/locales/und.json">>,<<"priv/cldr/available_locales.json">>,
  <<"priv/cldr/number_systems.json">>,<<"priv/cldr/plural_rules.json">>,
  <<"priv/cldr/version.json">>,<<"priv/cldr/currencies.json">>,
  <<"priv/cldr/territory_currencies.json">>,<<"priv/cldr/weeks.json">>,
  <<"priv/cldr/calendars.json">>,<<"priv/cldr/calendar_preferences.json">>,
  <<"priv/cldr/day_periods.json">>,<<"priv/cldr/likely_subtags.json">>,
  <<"priv/cldr/aliases.json">>,<<"priv/cldr/territory_containers.json">>,
  <<"priv/cldr/territory_containment.json">>,<<"priv/cldr/territories.json">>,
  <<"priv/cldr/territory_subdivisions.json">>,
  <<"priv/cldr/territory_subdivision_containment.json">>,
  <<"priv/cldr/plural_ranges.json">>,<<"priv/cldr/timezones.json">>,
  <<"priv/cldr/units.json">>,<<"priv/cldr/grammatical_features.json">>,
  <<"priv/cldr/grammatical_gender.json">>,<<"priv/cldr/parent_locales.json">>,
  <<"priv/cldr/time_preferences.json">>,<<"priv/cldr/script_metadata.csv">>,
  <<"priv/cldr/language_tags.ebin">>,<<"priv/cldr/language_data.json">>,
  <<"priv/cldr/deprecated/measurement_system.json">>,
  <<"priv/cldr/deprecated/unit_preference.json">>,
  <<"priv/cldr/validity/territories.json">>,
  <<"priv/cldr/validity/languages.json">>,
  <<"priv/cldr/validity/scripts.json">>,
  <<"priv/cldr/validity/subdivisions.json">>,
  <<"priv/cldr/validity/variants.json">>,<<"priv/cldr/validity/units.json">>,
  <<"priv/cldr/bcp47/u.json">>,<<"priv/cldr/bcp47/t.json">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"cldr_utils">>},
   {<<"app">>,<<"cldr_utils">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 2.28">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"decimal">>},
   {<<"app">>,<<"decimal">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.6 or ~> 2.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"jason">>},
   {<<"app">>,<<"jason">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 1.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"nimble_parsec">>},
   {<<"app">>,<<"nimble_parsec">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 0.5 or ~> 1.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"gettext">>},
   {<<"app">>,<<"gettext">>},
   {<<"optional">>,true},
   {<<"requirement">>,<<"~> 0.19">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
